/* Add CSS Styling */
.fir{
    font-family: Verdana, "DejaVu Sans", sans-serif;
    background-color:lightpink;
}
#sec{
    color: blue;
    font-size: 36px;
}
#thir{
    font-size: 24px;
}
#four{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}